         <h1>{{ objective.title }}</h1>
        <h2>{{ objective.subTitle }}</h2>

        <p>Number: {{ 2 + 2 }}</p>
        
         <p>String: {{ objective.firstName + " " + objective.lastName | uppercase }}</p> 
        <p>Binding: {{ objective.bindOutput | currency: '#': '4' }}</p>

         <label>First Name: </label> 
         <input ng-model="objective.firstName"> 
        <br>
        <label>First Name: </label>
         <input ng-model="objective.lastName"> 
        <br>
        <button ng-click="timesTwo()">Multiply</button>

         <p>asdfljsdaflkjds</p>

<a href="#/second">Second Page</a> 